<div class="mt-4">
    <h3>My Courses</h3>
    <table class="table table-striped ">
        <thead class="table-info">
            <tr>
                <th scope="col" class="col">#</th>
                <th scope="col" class="table-striped-columns col-lg-2">Name</th>
                <th scope="col" class="col-lg-2">Price</th>
                <th scope="col" class="col-lg-6">Created Time</th>
                <th scope="col" class="col">Modify</th>

            </tr>
        </thead>
        <tbody>
            {{#each Course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{checkSale this.price }}</td>
                <td>{{this.createdAt }}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" style="margin-right : 0.5rem">Edit</a>
                    <a href="" style="margin-left: 0.5rem;">Delete</a>
                </td>

            </tr>
            {{/each}}
            
        </tbody>
    </table>
</div>